.overview-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.patient-info, .prescription-details, .diagnosis-info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.patient-info h2, .prescription-details h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

.send-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.send-button:hover {
    background-color: #45a049;
}

.generate-pdf-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .generate-pdf-button:hover {
    background-color: #45a049;
  }
  