.prescription-container {
    padding: 20px;
    max-width: 800px;
    /* Smaller width for better layout */
    margin: 0 auto;
}

.diagnosis-section,
.investigation-section {
    padding: 20px;
    margin-bottom: 20px;
     border-radius: 15px;
     /* border: 1px solid #8b8989; */
    background-color: transparent;
}

.medications-section {
    padding: 20px;
     border-radius: 15px;
     /* border: 1px solid #8b8989; */
    background-color: transparent;
}

.diagnosis-heading,
.investigation-heading,
.medications-heading {
    font-size: 20px;
    font-weight: bold;
}

.medications-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.medication-card {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #ddd;
}

.medication-image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
    /* Ensure image is properly scaled */
}

.medication-details {
    flex: 1;
}

.medication-title {
    font-size: 18px;
    font-weight: bold;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}