.container-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  font-family: "Poppins", sans-serif;
}

.filter {
  flex-basis: 20%;
  border: 1px solid #ffffff;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-left: 30px;
  margin-top: 25px;
  height: 70%;
  overflow-y: auto; /* Enable scrolling if items overflow */
}

.patient {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.patient-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.patient-item2 {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.patient-item2:hover {
  background-color: #f0f0f0;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.patient-details h4,
.patient-details p {
  margin: 5px 0;
}

.header-photo-list {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}
