.container-section {
    display: flex;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
  }
  
  .filter {
    flex-basis: 20%;
    border-right: 1px solid #ccc;
    padding: 20px;
    height: 100%;
    overflow-y: auto; /* Enable scrolling if items overflow */
  }
  
  .patient {
    flex-grow: 1;
    padding: 20px;
  }
  
  .search-bar2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .button-add-patient {
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
  }
  
  .patient-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 100px;
  }
  
  .patient-item2 {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;

  }
  
  .patient-item2:hover {
    background-color: #f0f0f0;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
  }
  
  .patient-details h3, .patient-details p {
    margin: 5px 0;
  }
  