.prescription-list-container {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    width: 80%; /* Adjust width as necessary */
    margin: auto; /* Centering the container */
  }
  
  .diagnostic-section, .prescription-details {
    margin-bottom: 20px;
  }
  
  .diagnostic-section textarea, .prescription-details input, .prescription-details textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Helps with padding issues */
  }
  
  .prescription-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  
  .prescription-summary h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  .prescription-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
  }
  
  .prescription-details input[type="text"], .prescription-details input[type="number"], .prescription-details textarea {
    flex: 1 1 200px; /* Ensures that inputs don't shrink too much */
    margin: 5px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-more {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    width: 150px;
  }

  .button-selected {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    width: 250px;
  }

  .scrollable-table-container {
    max-height: 500px; /* Adjust based on your layout needs */
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .save-button-med {
    display: block;
    width: 200px;
    padding: 10px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  