.overview-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patient-info, .prescription-details-2, .diagnosis-info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f4f4f9;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 100%;
}

.diagnosis-info p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patient-info h2, .prescription-details h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

.send-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.generate-pdf-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color:black;
    font-size: 16px;
  }