/* Container for the entire page */
.container {
    padding-top: 20px;
}

/* Filter section styles */
.filter-container {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 20px;
    position: sticky;
    top: 0;
    height: calc(100vh - 20px);
    overflow-y: auto; /* Makes the filter container scrollable */
}

/* Makes only the brands list scrollable within the filter container */
.brands-scrollable {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 20px;
}

/* Styling for range inputs (sliders) */
input[type="range"] {
    width: 100%;
    margin: 15px 0;
}

/* Styling for checkboxes in the filter container */
.form-check {
    margin: 10px 0;
}

/* Product list and card styles */
.product-list-container {
    padding: 20px;
}

.mb-4
{
    height: 500px;
}

.card {
    margin-bottom: 20px; /* Adds space between cards */
}

.card-img {
    height: 200px; /* Set a fixed height for images */
    object-fit: cover; /* Ensures images cover the area well without distortion */
}

.card-body {
    text-align: center; /* Centers text in the card body */
}

/* Buttons styling */
.btn-primary, .btn-secondary {
    width: 100%; /* Makes buttons full width */
    margin-top: 5px; /* Adds a small top margin for button spacing */
}

/* Styling links to make them more appealing */
a {
    color: #007bff; /* Bootstrap primary blue */
    text-decoration: none; /* Removes underline */
}

a:hover {
    color: #0056b3; /* Darker blue on hover */
}
