.sidebar {
    flex: 0 0 250px; /* Fixed width for larger screens */
    background-color: #2C3E50; /* Dark background */
    color: #fff; /* White text */
    display: flex;
    flex-direction: column; /* Stack vertically */
    padding: 20px;
    height: 100vh; /* Full viewport height */
    transition: transform 0.3s ease; /* Smooth transform transition */
}

.sidebar-header {
    font-size: 1.5em; /* Larger text size */
    font-weight: bold; /* Bold font weight */
    margin-bottom: 20px; /* Space below the header */
    text-align: center; /* Center align text */
}

.sidebar ul {
    list-style-type: none; /* No bullets */
    padding: 0; /* No padding */
}

.sidebar ul li {
    padding: 10px 0; /* Padding top and bottom for each item */
    cursor: pointer; /* Pointer cursor on hover */
}

.sidebar ul li:hover {
    background-color: #34495E; /* Lighter background on hover */
}

/* @media (max-width: 768px) {
    .sidebar {
        flex: 0 0 200px; 
        transform: translateX(-100%); 
    }

    .sidebar.active {
        transform: translateX(0); 
    }
} */
