.div-container {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-payment {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

.form-payment h2 {
    text-align: center;
    color: #32325d;
}

.card-input-payment {
    width: 100%;
    margin-bottom: 20px;
}

.card-input-payment label {
    font-size: 14px;
    color: #6b7c93;
    margin-bottom: 5px;
}

.card-input-payment input {
    color: #32325d;
    font: 'Helvetica Neue", Helvetica, sans-serif';
    font-size: 16px,
}

.card-input-payment input::placeholder{
    color: #aab7c4;
}

.StripeElement {
    display: block;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff5a42;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}

.confirmation-text {
    margin-top: 10px;
    text-align: center;
    color: #6b7c93;
    font-size: 14px;
}
