.second-menu-content {
    text-align: "center";
    background-color: #2C3E50;
}

/* Dropdown.css */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn h2{
    color: #f9f9f9;
}

.dropbtn {
    background-color: #2C3E50;
    color: white;
    padding: 25px;
    border: none;
    cursor: pointer;
    width: 300px;
    border-left: #333;  /* Note: 'border-left' and 'border-right' need valid properties */
    border-right: #333;
    height: auto;
}

.dropbtn:hover {
     background-color: #2C3E50;
    box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.8); /* Shadow effect */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width:300px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

