/* summary.css */
.container {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}


.product-row {
  margin-bottom: 15px;
}

.cartImage {
  width: 100%;
  height: auto;
  max-width: 120px; /* Adjust based on your layout */
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.address-details p {
  margin: 5px 0;
  line-height: 1.6;
}

.submit-order-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-order-button:hover {
  background-color: #0056b3;
}
