.container {
  display: flex;
  min-height: 100vh;
}

.filter-section {
  width: 200px; /* Adjust width as necessary */
  padding: 20px;
  border-right: 1px solid #ccc;
  background-color: #f4f4f4;
}

.patient-section {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

.patient-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust sizing for better responsiveness */
  gap: 20px;
}

.patient-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center; /* Center the patient names */
}

.search-bar {
  display: flex; /* Aligns children inline */
  justify-content: space-between; /* Distributes space between and around content items */
  align-items: center; /* Align items vertically in the center */
  padding: 10px;
  margin: 10px 0; /* Spacing above and below the search bar */
  background-color: #f8f8f8; /* Light grey background for the search bar */
  border-radius: 5px; /* Rounded corners for the search bar */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.search-bar input {
  flex: 1; /* Allows the input to grow and fill the space */
  padding: 10px;
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 5px; /* Rounded corners for the input */
  margin-right: 10px; /* Space between input and button */
}

.search-bar button {
  padding: 10px 20px;
  background-color: #5C67F2; /* A pleasant shade of blue */
  color: white;
  border: none;
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.search-bar button:hover {
  background-color: #4a54e1; /* Darker blue on hover for the button */
}
