.user-profile2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.user-info, .user-stats{
  padding: 100px;
  margin-bottom: 20px;
}

.user-pres .prescriptions-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns */
  grid-gap: 20px;
  width: 100%;
}

.user-stats {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.user-stats p {
  margin: 10px 0;
  line-height: 1.6;
  font-size: 16px;
  color: #444;
}

.user-stats p strong {
  color: #000;
  margin-right: 10px; /* Space between label and data */
}

.prescription-item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.product-details img {
  width: 100px; /* Adjust based on your needs */
}

.button-back  {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  width: 250px;
}

/* Ensure other styling is consistent and does not conflict */
